@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.imgDesc {
    background-color: rgba(128, 128, 128, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
}