@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body {
    height: 100%;
    cursor: none;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
}

body {
    color: white;
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.imgDesc {
    background-color: rgba(65, 65, 65, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
}